registry=http://nexus.tools.irn.internal/repository/npm-group/
http://nexus.tools.irn.internal/repository/npm-group//repository/npm-group/:username=lucas.guimaraes
http://nexus.tools.irn.internal/repository/npm-group//repository/npm-group/:_password=p954ZoUnBf89P8bIBWg