.actions .agora-card-collection {
    max-height: 200 !important;
    max-width: 600 !important;

}

.actions .agora-card-collection .card-info {
    display: flow !important;
    justify-content: center;
    text-align: left;
}

.actions .agora-card-collection .card-info .anchor-container{
    position: absolute;
    top: 80px;
    right: 0;
}

.actions .agora-card-collection .custom-svg-container {
    padding-bottom: 32px !important;
    padding-top: 32px !important;
}

.actions .custom-svg-container {
    max-height: 100px !important;
}

.custom-card {
    display: inline-flex;
    background-color: #002B82;
    max-height: 100px;
    min-width: 200px;
    max-width: 300px;
    margin-left: 40px;
    margin-right: 40px;
}

@media (min-width: 1280px) {
    .agora-card-collection {
        min-height: 50px !important;
        max-height: 60px !important;
        min-width: 400px !important;
    }
}