.notifications h1 {
    color: #021C51;
    font-weight: bold;
    font-size: 36px;
}

.notifications h4 {
    color: #021C51;
    font-weight: bold;
}

.notifications .subtitle {
    color: #757575;
    font-size: 20px;
}

.notifications .title {
    margin-bottom: 70px;
}

.no-bold {
    font-weight: 400 !important;
}

.transparent-block {
    min-width: 300px;
}

.accordion {
    border-bottom: solid 1px #757575;
    max-height: 100px;
}

.accordion.accordion-open {
    max-height: 100% !important;
}

.accordion-header .icon {
    position: relative;
    margin-top: -65;
}

.notifications .actions h2 {
    color: white !important;
}


@media (min-width: 1280px){
   .notifications .actions .filledCard .agora-card-collection {
        max-height: 200px !important;
        min-height: 200px !important;
    }
   .notifications .actions .agora-card-collection .card-info .anchor-container {
        position: absolute !important;
        right: 0 !important;
    }
 }